body{
  background-color: #191919;
  color: white;
  font-family: Arial;
}
.move-btn{
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: 4px solid #fff;
  border-radius: 60px;
  margin-right: 8px;
  cursor: pointer;
}
.move-btn:hover{
  background-color: #515151;
}
.move-icon{
  height: 48px;
}
.res{
  font-size: 24px;
  font-weight: bold;
  margin-top: 48px;
}
.score{
  margin-top: 48px;
}
.reset-btn, .auto-play-btn{
  background-color: #fff;
  border: none;
  font-size: 16px;
  padding: 8px 16px;
  cursor: pointer;
}
.reset-btn:hover, .auto-play-btn:hover{
  background-color: #515151;
  color: white;
}